:root {
	--np-green-dark: #1f7444;
	--np-green: #1fae5e;
	--np-blue-selection: #49bac3;
	--np-blue-darker: #367a8f;
	--np-header-gradient-btm: #37b381;
	--np-header-gradient-top: #38aab0;
	--np-role-mod: 31, 174, 94;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	/* width */
	width: 10px;
}

::-webkit-scrollbar-track {
	/* Track */
	border-radius: 10px;
	background: #333;
}

::-webkit-scrollbar-thumb {
	/* Handle */
	border-radius: 10px;
	background: var(--np-green-dark);
}

::-webkit-scrollbar-thumb:hover {
	/* Handle on hover */
	background: var(--np-green);
}

@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

body {
	background: #191919;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

body,
input,
button {
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
}

button {
	cursor: pointer;
}

img,
.no-user-select {
	user-select: none;
}

/* #region LOGIN PAGE */

div.dialogue-box {
	background: #fff;
	border-radius: 0 10px 10px 10px;
	padding: 10px 20px;
	border: solid 5px var(--np-header-gradient-btm);
	width: 100%;
	max-width: 300px;
	min-height: 50px;
	color: var(--np-green-dark);
}

@media (prefers-reduced-motion: no-preference) {
	div.dialogue-box {
		transition: all 450ms ease;
	}
}

div.dialogue-box p:first-child {
	position: absolute;
	top: 0;
	left: -5px;
	background: var(--np-header-gradient-btm);
	color: #fff;
	border-radius: 10px 10px 0 0;
	padding: 6px 15px;
	transform: translateY(-100%);
	font-family: "Quicksand", sans-serif;
	font-weight: 900;
	font-size: 1.2rem;
	border: solid 5px #fff;
	border-bottom: none;
}

section.login {
	background: url(img/bg-pattern.png);
	background-size: contain;
	background-position: center;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

section.login div.logo {
	max-width: 500px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
	section.login div.logo {
		transition: all 250ms ease;
	}
}

section.login div.logo img {
	display: block;
	width: 100%;
	max-width: 400px;
}

section.login div.logo p {
	text-align: center;
	color: var(--np-green-dark);
	font-family: "Quicksand", sans-serif;
	font-weight: 900;
	font-size: 2rem;
	line-height: 0;
}

section.login img.netpal {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 90vw;
	max-width: 700px;
}

@media (prefers-reduced-motion: no-preference) {
	section.login img.netpal {
		transition: all 250ms ease;
	}
}

section.login div.log {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, calc(-50% - 100px));
	width: 100%;
	max-width: 600px;
	padding: 25px;
	border-radius: 20px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	color: #222;
	box-shadow: 0 3px 5px #00000044;
}

@media (prefers-reduced-motion: no-preference) {
	section.login div.log {
		transition: all 250ms ease;
	}
}

section.login div.log a {
	text-decoration: none;
	background: #defcf4;
	color: var(--np-blue-darker);
	font-family: "Quicksand", sans-serif;
	font-weight: 900;
	font-size: 1.4rem;
	padding: 10px 30px;
	border-radius: 10px;
	border: 5px solid var(--np-blue-selection);
	box-shadow: inset 0 0 10px #00000022;
}

@media (prefers-reduced-motion: no-preference) {
	section.login div.log a {
		transition: all 400ms ease;
	}
}

section.login div.log a:hover {
	box-shadow: inset 0 0 5px 10px #ffffff99;
}

section.login div.dialogue-box#netpal-db {
	position: absolute;
	bottom: 250px;
	left: 350px;
}

section.login div.dialogue-box#netpal-db p a {
	color: #00b5e2;
}

section.login img {
	user-select: none;
}

/* #endregion */

/* #region MOD PANEL */

p.role {
	padding: 2px;
	text-align: center;
	border-radius: 5px;
	font-size: 0.9rem;
}

p.role.role-mod {
	border: solid 2px rgb(var(--np-role-mod));
	background: rgba(var(--np-role-mod), 0.3);
}

section.mod-panel {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

/* #region NAV BAR */

section.mod-panel nav {
	width: 230px;
	background: #111;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px;
	flex-shrink: 0;
	transition: all 200ms ease;
	z-index: 5;
}

section.mod-panel nav img {
	display: block;
	height: 55px;
}

section.mod-panel nav div {
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 25px 0;
}

section.mod-panel nav div button {
	display: flex;
	align-items: center;
	gap: 15px;
	color: #fff;
	background: none;
	border: none;
	padding-left: 13px;
	text-wrap: nowrap;
	opacity: 1;
	transition: color 200ms ease;
}

section.mod-panel nav div button.selected {
	color: var(--np-header-gradient-btm);
}

section.mod-panel nav div button i {
	font-size: 1.5rem;
	color: #fff;
	transition: color 200ms ease;
}

section.mod-panel nav div button.selected i {
	color: var(--np-header-gradient-btm);
}

section.mod-panel nav.collapsed {
	width: 72.5px;
	padding: 20px 10px;
}

section.mod-panel nav.collapsed div button {
	color: transparent;
}

/* #endregion */

section.mod-panel main {
	padding: 20px;
	width: 100%;
	overflow: hidden;
}

/* #region TOP BAR */

section.mod-panel main div.top-bar {
	height: 55px;
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
	margin-bottom: 25px;
}

section.mod-panel main div.top-bar button#collapse-nav-button {
	background: none;
	border: none;
	color: #fff;
	width: 34px;
	height: 34px;
	position: relative;
	flex-shrink: 0;
}

section.mod-panel main div.top-bar button#collapse-nav-button span {
	display: block;
	background: #fff;
	width: 34px;
	height: 3px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section.mod-panel main div.top-bar button#collapse-nav-button span:first-child {
	transform: translate(-50%, calc(-50% - 12px));
}

section.mod-panel main div.top-bar button#collapse-nav-button span:last-child {
	transform: translate(-50%, calc(-50% + 12px));
}

section.mod-panel main div.top-bar div.search-bar {
	flex-grow: 1;
	border: solid 1px #ffffff22;
	max-width: 700px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
	gap: 15px;
	border-radius: 10px;
}

section.mod-panel main div.top-bar div.search-bar input {
	flex-grow: 1;
	height: 50px;
	background: none;
	border: none;
	color: #fff;
}

section.mod-panel main div.top-bar div.user {
	display: flex;
	align-items: center;
	gap: 20px;
}

section.mod-panel main div.top-bar div.user p {
	opacity: 0.6;
	font-size: 0.8rem;
}

section.mod-panel main div.top-bar div.user button {
	border-radius: 50%;
	overflow: hidden;
	border: solid 3px #fff;
}

section.mod-panel main div.top-bar div.user button img {
	display: block;
	height: 40px;
	width: 40px;
}

/* #endregion */

/* #region Global panel section */

section.mod-panel main section {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 105px);
	overflow-y: auto;
	overflow-x: hidden;
	transition: opacity 250ms ease, transform 250ms ease;
	padding-bottom: 20px;
}

section.mod-panel main section.hidden {
	display: none;
}

section.mod-panel main section div.title {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 1.5rem;
	padding-bottom: 20px;
}

section.mod-panel main section div.title i {
	background: var(--np-header-gradient-btm);
	padding: 7px;
	font-size: 20px;
	border-radius: 10px;
}

/* #endregion */

/* #region OVERVIEW SECTION */

section.mod-panel main section#overview div.panel {
	padding-bottom: 40px;
}

section.mod-panel main section#overview div.dashboard div.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

section.mod-panel main section#overview div.dashboard div.cards div {
	background: var(--np-green-dark);
	width: 220px;
	height: 140px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding-top: 8px;
}

section.mod-panel main section#overview div.dashboard div.cards div i {
	font-size: 1.8rem;
}

section.mod-panel main section#overview div.dashboard div.cards div p:last-child {
	font-size: 1.8rem;
	font-weight: 700;
}

section.mod-panel main section#overview div.logs {
	position: relative;
}

section.mod-panel main section#overview div.logs::after {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 300px;
	background: linear-gradient(transparent, #191919 95%);
	user-select: none;
	pointer-events: none;
}

section.mod-panel main section#overview div.logs div button {
	display: none;
}

section.mod-panel main section#overview div.recent-log {
	position: relative;
}

section.mod-panel main section#overview button.view-more {
	position: absolute;
	font-size: 1.2rem;
	bottom: 50px;
	z-index: 3;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 25px;
	border-radius: 100px;
	background: var(--np-green);
	border: none;
	color: #fff;
	position: absolute;
}

/* #endregion */

/* #region REPORTS SECTION */

section.mod-panel main section#reports div.report-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
section.mod-panel main section#reports div.report-list div.report {
	background: #111;
	border-radius: 10px;
	padding: 15px 20px;
	width: 250px;
	box-shadow: inset 0 0 0 1px transparent;
}
section.mod-panel main section#reports div.report-list div.report:hover {
	box-shadow: inset 0 0 0 1px #fff;
	cursor: pointer;
}
section.mod-panel main section#reports div.report-list div.report p:nth-child(2) {
	opacity: 0.5;
	font-size: 0.8rem;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #222;
}

/* #endregion */

/* #region ACTIVITY LOG SECTION */

section.mod-panel main section div.logs {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	gap: 12.5px;
}

section.mod-panel main section div.logs div {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #111;
	padding-bottom: 10px;
}

section.mod-panel main section div.logs div p {
	overflow: hidden;
	text-overflow: ellipsis;
}

section.mod-panel main section div.logs div:first-child p {
	font-size: 1.1rem;
	font-weight: 700;
}

section.mod-panel main section div.logs div p:nth-child(1),
section.mod-panel main section div.logs div p:nth-child(3),
section.mod-panel main section div.logs div p:nth-child(4) {
	width: 140px;
}

section.mod-panel main section div.logs div p:nth-child(2) {
	width: 70px;
}

section.mod-panel main section div.logs div:first-child button {
	opacity: 0;
	pointer-events: none;
}

section.mod-panel main section div.logs div button {
	border: none;
	background: var(--np-green);
	color: #fff;
	width: 25px;
	aspect-ratio: 1;
	border-radius: 6px;
	flex-shrink: 0;
}

/* #endregion */

/* #endregion */

/* #region RESPONSIVE */

/* #region LOGIN & UNAUTHORIZED */

@media screen and (max-width: 675px) {
	section.login div.dialogue-box#netpal-db {
		left: 50%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 400px) {
	section.login div.dialogue-box#netpal-db {
		bottom: 170px;
	}
}

@media screen and (max-height: 720px) {
	section.login div.logo {
		max-width: 300px;
		padding: 10px;
	}

	section.login div.log {
		position: absolute;
		left: 50%;
		top: 120px;
		transform: translateX(-50%);
		width: 100%;
		max-width: 600px;
		padding: 25px;
		border-radius: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		color: #222;
		box-shadow: 0 3px 5px #00000044;
	}
}

@media screen and (max-height: 660px) {
	section.login div.dialogue-box#netpal-db {
		bottom: 150px;
	}

	section.login img.netpal {
		bottom: -75px;
	}
}

@media screen and (max-height: 550px) {
	section.login div.dialogue-box#netpal-db {
		opacity: 0;
		pointer-events: none;
	}
}

@media screen and (max-height: 400px) {
	section.login img.netpal {
		opacity: 0;
	}
}

/* #endregion */

/* #region MOD PANEL */

@media screen and (max-width: 1200px) {
	section.mod-panel main section div.logs div {
		padding-right: 10px;
	}
}

@media screen and (max-width: 970px) {
	section.mod-panel main div.top-bar div.user p {
		display: none;
	}
}

@media screen and (max-width: 635px) {
	section.mod-panel nav,
	section.mod-panel nav.collapsed {
		width: 100%;
		overflow: hidden;
		flex-shrink: 0;
		position: absolute;
		bottom: 0;
		display: flex;
		padding: 5px;
	}

	section.mod-panel nav img {
		display: none;
	}

	section.mod-panel nav div {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		gap: 0;
		padding: 0;
	}

	section.mod-panel nav div button,
	section.mod-panel nav.collapsed div button {
		flex-direction: column;
		font-size: 0.8rem;
		gap: 5px;
		padding: 15px 0;
		color: #fff;
		min-width: 70px;
	}

	section.mod-panel nav.collapsed div button.selected {
		color: var(--np-header-gradient-btm);
	}

	section.mod-panel main {
		padding-bottom: 100px;
		padding: 20px 10px 100px;
	}

	section.mod-panel main div.top-bar {
		padding: 0 20px;
	}

	section.mod-panel main div.top-bar button#collapse-nav-button {
		display: none;
	}

	section.mod-panel main section#overview button.view-more {
		bottom: 120px;
	}

	section.mod-panel main section#reports div.report-list {
		justify-content: center;
		padding-bottom: 100px;
	}
}

/* #endregion */

/* #endregion */
